@media (prefers-color-scheme: dark) {
    :root {
        --color: #111111;
        --layer0: #E8E5DA;
        --layer1: #816C61;
        --layer2: #E7DFC6;
        --layer3: #F1F7ED;
        --layer4: #ffffff;
        --border1: #0008;
        --shadow1: #000C;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #111111;
        --layer0: #E8E5DA;
        --layer1: #816C61;
        --layer2: #F1F7ED;
        --layer3: #E7DFC6;
        --layer4: #ffffff;
        --border1: #0000;
        --shadow1: #0003;
        --header-img-opacity: 1;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #eeeeee;
        --layer0: #0000;
        --layer0-gradient: linear-gradient(0deg, #020215, #092025);
        --layer1: #0000;
        --layer1-gradient: linear-gradient(0deg, #122932A0, #122932);
        --layer2: #0000;
        --layer2-gradient: linear-gradient(0deg, #1B2A41D0, #152A41);
        --layer3: #0000;
        --layer3-gradient: linear-gradient(0deg, #2D4A5F40, #2D4A5F);
        --layer4: #0000;
        --layer4-gradient: linear-gradient(0deg, #01010140, #010101);
        --border1: #FFF1;
        --shadow1: #000C;
        --header-img-opacity: 0.7;
    }
}

/* body styling */
body {
    background-color: var(--layer0);
    background-image: var(--layer0-gradient);
    color: var(--color);
    margin: 0px;
    padding: 0px;
}

/* navbar styling */
nav {
    padding: 10px;
    text-align: center;
    height: auto;
}
nav a {
    font-size: large;
    margin: 10px;
    color: var(--color);
}

/* header */
header .info {
    padding: 25px;
    width: 30%;
    font-size: xx-large;
    position: absolute;
    top: 80px;
    right: 80px;
}
header .credit {
    position: absolute;
    bottom: 30px;
    right: 10px;
    font-size: larger;
    text-shadow: 1px 1px #AAAA;
}
header .slideshow {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
header .slide {
    width: 100%;
    opacity: var(--header-img-opacity)
}

/* hr styling */
hr {
    padding: 0px;
    width: 90%;
    margin: auto;
    height: 0px;
}
.nav-hr {
    width: 100%;
    margin: 0px;
}


/* Layer colors */
.layer0 {
    background-color: var(--layer0);
    background-image: var(--layer0-gradient);
}
.layer1 {
    background-color: var(--layer1);
    background-image: var(--layer1-gradient);
}
.layer2 {
    background-color: var(--layer2);
    background-image: var(--layer2-gradient);
}
.layer3 {
    background-color: var(--layer3);
    background-image: var(--layer3-gradient);
}
.layer4 {
    background-color: var(--layer4);
    background-image: var(--layer4-gradient);
}


/* layer borders */
.layer1-border {
    border-style: solid;
    border-radius: 12px;
    border-width: 1px;
    border-color: var(--border1);
}
.layer2-border {
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: var(--border1);
    box-shadow: 1px 1px var(--shadow1);
}
.layer3-border {
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: var(--border1);
    box-shadow: 1px 1px var(--shadow1);
}


/* recipe grid */
.recipe-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto;
    height: auto;
    width: 70%;
}
.recipe-grid-listing {
    display: grid;
    padding: 10px;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}


/* recipe cards */
.recipe {
    padding: 10px;
    height: 200px;
    width: auto;
    min-width: 25%;
    position: relative;
}

.recipe:hover {
    transform: translateX(calc(100% + 10px));
    transition-duration: 1s;
}


/* recipe carousel */
.recipe-carousel {
    padding: 5px;
    margin: auto;
    height: auto;
    width: 80%;
    overflow: hidden;
}
.carousel-listing {
    display: flex;
    flex-direction: row;
    width: 200%;
    max-width: 800px;
    padding: 10px;
    height: auto;
    gap: 10px;
}